# Python
venv/
.venv/
__pycache__/
**/venv/
**/.venv/
**/__pycache__/
*.pyc
**/*.pyc
/python/

# Jupyter
.ipynb_checkpoints/

# VSCode
.vscode/*
**/.vscode/*
!/.vscode/settings.json
!/.vscode/extensions.json
.VSCodeCounter/

# Java
target/
*.class

# Logs
*.log
data/logs

# OS files
.DS_Store
Thumbs.db

# Model/data artifacts
saved_models/
data/cache/
data/ohlcv/
data/ohlcv.db

# Environment variables
.env
